<!DOCTYPE html>
<html>
    
    <head>  
        {% load static %}                        
    </head>
    <body>
        {% if request.user.is_authenticated %}
        <p>
            Hello, {{ request.user.username }}! Welcome to your
        </p>
        {% endif %}
        <h1>
            InstaGallery
        </h1>


        <p align="right">
            <button class="btn" href="/registration/signup">Sign Up</button>
            {% if not request.user.is_authenticated %}
            <button class="btn" href="/accounts/login">Login</button>
            {% endif %}
            {% if request.user.is_authenticated %} 
            <button class="btn"  href="/posts/create">New Post</button>
            <button class="btn" href="/accounts/logout">Logout</button>
            {% endif %}
        </p>
        {% block content %}
        {% endblock %}
    </body>
</html>