<!DOCTYPE html>
<html>
    <h1>
        InstaGallery
    </h1>

    <head>
        {% load static %}                        
        <link rel="stylesheet" type="text/css" href="{% static 'posts/css/style.css' %}">   
    </head>
</html>

{% if request.user.is_authenticated %}
    <p>
        Hello, {{ request.user.username }}!
    </p>
{% endif %}

<p align="right">
    <a href="/registration/signup">Sign Up</a>
    {% if not request.user.is_authenticated %}
    <a href="/accounts/login">Login</a>
    {% endif %}
    {% if request.user.is_authenticated %} 
    <a href="/posts/create">New Post</a>
    <a href="/accounts/logout">Logout</a>
    {% endif %}
  </p>
  
  {% block content %}
  <p>
      This is a placeholder block.
  </p>
  {% endblock %}